<section class="container" style="margin-bottom: 10rem">
  <!-- Deck navigation and actions -->
  <div class="d-flex justify-content-between align-items-end mt-5">
    <!-- Return to folder dashboard button -->
    <a class="btn btn-secondary btn-block mb-1"
       (click)="return()">
      <i class="fa-solid fa-arrow-left-long"></i>
    </a>
    <!-- Deck title -->
    <h1 class="m-0">{{deck.DeckName}}</h1>
    <!-- Deck settings button -->
    <a class="link-secondary text-decoration-none ms-2"
       [routerLink]="['/deck/', deck.DeckId]">
      <i class="fa-solid fa-gear fa-2x"></i>
    </a>
  </div>
  <hr />
  <!-- Flashcard type selection buttons -->
  <div class="d-flex justify-content-center mt-5">
    <div class="btn-group" role="group" aria-label="Basic example">
      <!-- Flashcard type one button -->
      <a class="btn btn-outline-secondary active d-flex align-items-center"
         [routerLink]="['/flashcardone/', deck.DeckId]">
        <img src="assets/img/type1.png" style="width: 2rem; margin-right: 5px"/>
        <p class="m-0 d-none d-md-block">Default</p>
      </a>
      <!-- Flashcard type two button -->
      <a class="btn btn-outline-secondary d-flex align-items-center"
         [routerLink]="['/flashcardtwo/', deck.DeckId]">
        <img src="assets/img/type2.png" style="width: 2.5rem;" />
        <p class="m-0 d-none d-md-block">Matching</p>
      </a>
      <a class="btn btn-outline-secondary d-flex align-items-center"
         [routerLink]="['/flashcardthree/', deck.DeckId]">
        <img src="assets/img/type3.png" style="width: 2rem;"/>
        <p class="m-0 d-none d-md-block">GPT-Quiz</p>
      </a>
    </div>
  </div>
  <!-- Instructions -->
  <div class="instruction mt-4 p-3">
    <p>Flip the flashcard to reveal the Back </p>
  </div>
  <!-- Progress bar -->
  <div class="container mt-3 mb-4">
    <div class="progress">
      <div id="progress-bar1" class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
  </div>
  <div class="carousel-container shadow">
    <div id="flashcard-one" class="carousel slide h-100">
      <div class="carousel-inner h-100">
        <div class="carousel-item active">
          <div class="h-100 d-flex flex-column align-items-center justify-content-center">
            <h1>Start</h1>
            <p>Introduction card of {{deck.DeckName}} Deck</p>
            <p>Date of Creation: {{deck.CreationDate}}</p>
          </div>
        </div>
        <div *ngFor="let flashcard of flashcards">
          <div class="carousel-item" style="word-break: break-word">
            <div class="wrap d-flex">
              <a class="hint-btn link-dark text-decoration-none" role="button" [id]="'hintButton_' + flashcard.FlashcardId" (click)="checkFlashcard(flashcard)">
                <div [id]="'status_' + flashcard.FlashcardId" style="display: none">
                  <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                  <span class="sr-only">Loading...</span>
                </div>
                Get Hint <i class="fa-solid fa-circle-front"></i>
              </a>
            </div>
            <div class="wrap" [id]="'hintContainer_' + flashcard.FlashcardId" hidden>
              <span [id]="'hint_' + flashcard.FlashcardId" class="tool d-flex" [attr.data-tip]="" tabindex="1">
                <i class="fas fa-info-circle"></i>
              </span>
            </div>
            <div class="flip-card" (click)="rotateCard($event)">
              <div class="flip-card-inner">
                <div class="flip-card-front d-flex flex-column justify-content-center">
                  <i class="fa-solid fa-clipboard-front fa-2x mb-2"></i>
                  <p>{{ flashcard.Front }}</p>
                </div>
                <div class="flip-card-back d-flex flex-column justify-content-center">
                  <i class="fa-solid fa-comment-dots fa-2x mb-2"></i>
                  <p>{{ flashcard.Back }}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="h-100 d-flex flex-column align-items-center justify-content-center">
            <h1>Finito!</h1>
            <button id="restart" class="btn btn-outline-secondary" style="width:8rem;" type="button" (click)="restartCarousel()">
              Restart
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Navigation buttons for the carousel -->
  <div class="d-flex align-items-center justify-content-evenly mt-4">
    <button id="prev" class="btn btn-outline-secondary" type="button"
            data-bs-target="#flashcard-one" data-bs-slide="prev">
      <i class="fa-solid fa-arrow-left"></i>
    </button>
    <i class="fa-solid fa-crown fa-2x"></i>
    <button id="next" class="btn btn-outline-secondary" type="button"
            data-bs-target="#flashcard-one" data-bs-slide="next">
      <i class="fa-solid fa-arrow-right"></i>
    </button>
  </div>
</section>
