<section class="w-100 vh-100 mt-5 create-flashcard">
  <!-- Container for creating a new flashcard -->
  <div class="container d-flex w-75 justify-content-between border border-1 p-0 shadow-sm bg-body rounded">
    <!-- Left section with a quote and icon -->
    <div class="d-none d-md-block text-center w-50" style="background-color: #BCEAD5">
      <div class="p-5 mt-5">
        <i class="fa-solid fa-graduation-cap fa-9x mt-4 mb-4" style="color: #8ec3b0;"></i>
        <figure>
          <blockquote class="blockquote">
            <p> “Education is the kindling of a flame, not the filling of a vessel.”</p>
          </blockquote>
          <figcaption class="blockquote-footer">
            <cite title="Source Title">Socrates </cite>
          </figcaption>
        </figure>
      </div>
    </div>
    <!-- Right section for creating a new flashcard -->
    <div class="p-5 w-100">
      <h2>{{isEditMode ? 'Update' : 'Create'}} Flashcard</h2>
      <hr />
      <form class="d-flex flex-column justify-content-between h-75"
            [formGroup]="flashcardForm" (ngSubmit)="onSubmit()">
        <div>
          <div class="form-outline mb-4">
            <!-- Flashcard front input field -->
            <label for="front">Front:</label>
            <input id="front" formControlName="front" class="form-control" />
            <div id="validationFront">
              <div *ngIf="flashcardForm.get('front')?.invalid" class="text-danger">
                Maximum 500 characters
              </div>
            </div>
          </div>
          <div class="form-outline mb-4">
            <!-- Flashcard back input field -->
            <label for="back">Back:</label>
            <input id="back" formControlName="back" class="form-control" />
            <div id="validationBack">
              <div *ngIf="flashcardForm.get('back')?.invalid" class="text-danger">
                Maximum 500 characters
              </div>
            </div>
          </div>
        </div>
        <div class="d-flex justify-content-between">
          <!-- Submit button -->
          <button type="submit" class="btn btn-success"
                  [disabled]="flashcardForm.invalid">
            <i class="fa-solid fa-check"></i>
          </button>
          <!-- Return to deck dashboard button -->
          <a class="btn btn-secondary"
             (click)="backToFlashcards()">
            <i class="fa-solid fa-arrow-rotate-left"></i>
          </a>
        </div>
      </form>
    </div>
  </div>
</section>


