<div class="about-us-intro d-flex justify-content-center align-items-center">
</div>
<section class="container mb-5">
  <div class="d-flex justify-content-between mt-5">
    <div class="about-us d-none d-lg-block">
    </div>
    <div class="text-center mb-5">
      <h1>Elevate Learning with Adaptive Flashcards</h1>
      <p class="mt-5" style="line-height: 3rem">
        Welcome to our innovative flashcard platform, where learning is redefined with
        the power of GPT (Generative Pre-trained Transformer). Experience personalized
        study sessions that dynamically adapt to your style, making memorization a thing
        of the past. Join us in embracing the future of learning, where AI technology
        guides you on the path to academic excellence.
      </p>
    </div>
  </div>
  <div class="d-flex justify-content-center mt-5">
    <h2>Members</h2>
  </div>
  <div class="mt-5 skill">
    <div class="row row-cols-1 row-cols-lg-2 g-4 text-center ">
      <!------- Cart Valderama -------->
      <div class="col">
        <div style="position: relative">
          <div class="card shadow-sm member-info cart h-100 w-100" style="background-color: #8EC3B0; z-index: 2; position: absolute">
            <div class="card-body d-flex flex-column justify-content-evenly h-100 character">
              <h5 class="card-title">Cart Valderama</h5>
              <p class="card-text">
                I was in charge of crafting the entire website and its design,
                ensuring it looks great and reflects our brand seamlessly.
              </p>
              <h6><strong>Hover for more info!</strong></h6>
            </div>
          </div>
          <div class="card border-0 shadow-sm" style="background-color: #8EC3B0;">
            <div class="p-3">
              <div class="d-flex flex-column justify-content-center align-items-center character">
                <img src="assets/img/cart.png" class="card-img-top mb-3">
                <h5>Cart Valderama</h5>
                <p><small>Class: <em>Front-end dev</em></small></p>
              </div>
              <div class="card-body text-start">
                <table class="w-100">
                  <tbody>
                    <tr>
                      <td class="w-25">Cooking</td>
                      <td class="w-75"><div class="bar cart-cooking"></div></td>
                    </tr>
                    <tr>
                      <td class="w-25">Intelligence</td>
                      <td class="w-75"><div class="bar cart-intelligence"></div></td>
                    </tr>
                    <tr>
                      <td class="w-25">Punctuality</td>
                      <td class="w-75"><div class="bar cart-punctuality"></div></td>
                    </tr>
                    <tr>
                      <td class="w-25">Height</td>
                      <td class="w-75"><div class="bar cart-height"></div></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!------- Elijah Cuady -------->
      <div class="col ">
        <div style="position: relative">
          <div class="card shadow-sm member-info elijah h-100 w-100" style="background-color: #8EC3B0; z-index: 2; position: absolute">
            <div class="card-body d-flex flex-column justify-content-evenly h-100 character">
              <h5 class="card-title">Elijah Cuady</h5>
              <p class="card-text">
                As the group's leader, I spearheaded the innovative integration of AI. I was also responsible for designing and developing the entire backend infrastructure.

              </p>
              <h6><strong>Hover for more info!</strong></h6>
            </div>
          </div>
          <div class="card border-0 shadow-sm" style="background-color: #8EC3B0;">
            <div class="p-3">
              <div class="d-flex flex-column justify-content-center align-items-center character">
                <img src="assets/img/elijah.png" class="card-img-top mb-3">
                <h5>Elijah Cuady</h5>
                <p><small>Class: <em>Back-end dev</em></small></p>
              </div>
              <div class="card-body text-start">
                <table class="w-100">
                  <tbody>
                    <tr>
                      <td class="w-25">Drawing</td>
                      <td class="w-75"><div class="bar elijah-drawing"></div></td>
                    </tr>
                    <tr>
                      <td class="w-25">Jumpshot</td>
                      <td class="w-75"><div class="bar elijah-jumpshot"></div></td>
                    </tr>
                    <tr>
                      <td class="w-25">Sleeping</td>
                      <td class="w-75"><div class="bar elijah-sleeping"></div></td>
                    </tr>
                    <tr>
                      <td class="w-25">Height</td>
                      <td class="w-75"><div class="bar elijah-height"></div></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!------- Emil Magnussen -------->
      <div class="col">
        <div style="position: relative">
          <div class="card shadow-sm member-info emil h-100 w-100" style="background-color: #8EC3B0; z-index: 2; position: absolute">
            <div class="card-body d-flex flex-column justify-content-evenly h-100 character">
              <h5 class="card-title">Emil Magnussen</h5>
              <p class="card-text">
                I helped with creating some of the design and implementation of the flashcard modes,
                boosting the app's interactivity and user engagement.
              </p>
              <h6><strong>Hover for more info!</strong></h6>
            </div>
          </div>
          <div class="card border-0 shadow-sm" style="background-color: #8EC3B0">
            <div class="p-3">
              <div class="d-flex flex-column justify-content-center align-items-center character">
                <img src="assets/img/emil.png" class="card-img-top mb-3">
                <h5>Emil Magnussen</h5>
                <p><small>Class: <em>Back-end dev</em></small></p>
              </div>
              <div class="card-body text-start">
                <table class="w-100">
                  <tbody>
                    <tr>
                      <td class="w-25">Curiosity</td>
                      <td class="w-75"><div class="bar emil-curiosity"></div></td>
                    </tr>
                    <tr>
                      <td class="w-25">Strength</td>
                      <td class="w-75"><div class="bar emil-strength"></div></td>
                    </tr>
                    <tr>
                      <td class="w-25">Sleeping</td>
                      <td class="w-75"><div class="bar emil-sleeping"></div></td>
                    </tr>
                    <tr>
                      <td class="w-25">Height</td>
                      <td class="w-75"><div class="bar emil-height"></div></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Footer -->
<footer class="text-center text-lg-start bg-light text-muted">
  <!-- Section: Social media -->
  <section class="d-flex justify-content-center justify-content-lg-between p-4 box-shadow border-bottom" style="background-color: #BCEAD5">
    <!-- Left -->
    <div class="me-5 d-none d-lg-block">
      <span>Get connected with us on social networks:</span>
    </div>
    <!-- Left -->
    <!-- Right -->
    <div>
      <a href="" class="me-4 link-secondary text-decoration-none">
        <i class="fab fa-facebook-f fa-2x"></i>
      </a>
      <a href="" class="me-4 link-secondary text-decoration-none">
        <i class="fab fa-instagram fa-2x"></i>
      </a>
      <a href="" class="me-4 link-secondary text-decoration-none">
        <i class="fab fa-linkedin-in fa-2x"></i>
      </a>
      <a href="" class="me-4 link-secondary text-decoration-none">
        <i class="fab fa-github fa-2x"></i>
      </a>
    </div>
    <!-- Right -->
  </section>
  <!-- Section: Social media -->
  <!-- Section: Links  -->
  <section class="p-3" style="background-color:#BCEAD5">
    <div class="container text-center text-md-start d-flex ">
      <!-- Grid row -->
      <div class="row ">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <!-- Content -->
          <h6 class="text-uppercase fw-bold mb-4">
            <i class="fa-solid fa-crown me-3"></i>Flashcard
          </h6>
          <p>
            Get ready to level up your knowledge with our exciting flashcard game! Challenge yourself, master new concepts, and have fun while learning. Let's play and expand your horizons!
          </p>
        </div>
        <!-- Grid column -->
        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Members
          </h6>
          <p>
            Cart Valderama
          </p>
          <p>
            Elijah Cuady
          </p>
          <p>
            Emil Magnussen
          </p>
        </div>
        <!-- Grid column -->
        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
          <p><i class="fas fa-home me-3"></i> Oslo, Oslomet, Norway</p>
          <p>
            <i class="fas fa-envelope me-3"></i>
            CV - s364539@oslomet.no
          </p>
          <p>
            <i class="fas fa-envelope me-3"></i>
            EC - s364563@oslomet.no
          </p>
          <p>
            <i class="fas fa-envelope me-3"></i>
            EM - 366438@oslomet.no
          </p>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->
  <!-- Copyright -->
  <div class="text-center p-4 box-shadow" style="background-color: #8EC3B0">
    © 2021 Copyright:
    <a class="text-reset fw-bold" href="https://mdbootstrap.com/">MDBootstrap.com</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
